body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #333, #ccc);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.app {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  width: 500px;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
}

.add-btn {
  padding: 10px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.tasks {
  margin-top: 20px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f1f1;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.edit-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.delete-btn {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
